.nav-container {
  background: #BFBFBFFF;
  border: 2px solid #000000;
}

.site-header {
  margin: 15px;
  text-align: center;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.btn-primary {
  color: #da0101;
  background-color: #333333;
}

.btn-primary:hover {
  background-color: #ff0000;
}

.header-container {
  margin-top: 70px;
  margin-bottom: 1px;
}

.beta-text {
  font-size: 0.8em;
}

.footer {
  margin-top: 50px;
  margin-bottom: 0;
  padding: 20px 0;
  background-color: #565656;
  color: #fff;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  margin-right: auto;
}

.footer-right {
  margin-left: auto;
}

.footnote {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footnote:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.custom-body {
  margin: 70px auto 5px;
}
