{% extends "layout.html" %}
{% block title %}Error{% endblock title %}
{% block body %}
    <nav class="nav-container">
        <div class="oauth10acallback-error-container">
            <h2>Aaaaaaaaaarrrgghhh! you broke me </h2>
            <div class="panel panel-danger">
            </div>
            <div>
                <img
                    src="{{ url_for('static', filename='system_error.jpg') }}"
                    width="275" height="183" alt="System Error"
                    class="oauth10acallback-error-img navbar-nav mr-auto"
                />
            </div>
            <div class="oauth10acallback-error-panel-heading">
                <h3 class="panel-title oauth10acallback-error-panel-title">Error {{ error_code }}: {{ error_message }}</h3>
                <div class="panel-body oauth10acallback-error-panel-body">
                    I'm sorry, but an error has occurred. Please try again.<br>
                    <br>
                    <strong>This can still be very common for the time being.
                        <br>This website is still new and also being implemented with the highest possible security.
                        <br>
                        <br><i>In short:
                            <br>Benemortasia.com will fail a hard error on purpose at the slightest
                            <br>inconsistency, even if it is just an unexpected informational event that happened.</i>
                        <br>
                        <br>The most probable issue will be the time set for traffic in and out of this server to be valid.
                        <br>
                        <br>If you want to report an error contact me at
                        <br>twitter.com/@Benemortasia666
                    </strong>
                    <small>
                        <br>Or email one of these addresses:
                        <br>somebody@youwillnever.be
                        <br>seriously@youbetteravoid.me
                        <br>insanity@dontvisit.me
                    </small>
                </div>
            </div>
        </div>
        <a href="/" class="btn btn-small btn-primary oauth10acallback-error-go-home-btn">Go to Home</a>
    </nav>
{% endblock body %}
