{% extends "layout.html" %}
{% block title %}Authorization Successful{% endblock title %}
{% block body %}
    <nav class="nav-container">
      <div class="oauth10acallback-site-header">
        <div class="oauth10acallback-heading-text">
          <h1 class="oauth10acallback-title">
               Access Granted!
          </h1>
        </div>
        <hr>
        <div>
          <div class="oauth10acallback-container-margin">
            <p class="oauth10acallback-container-p">
            Thank you <strong>{{ name }}</strong>.
              <br>
              <br>
              You successfully authorized <strong>Benemortasia.com</strong> an access token for making requests on behalf of
              <a href="https://twitter.com/{{ screen_name }}">@{{ screen_name }}</a>.
              <br>We've successfully received your access token and confirmed it by retrieving some basic details
              on your behalf from the Twitter API.
            </p>
              <h5 class="oauth10acallback-container-h5">
                Here is what we pulled from the API on your behalf:
                <br>
              </h5>
            <ol class="oauth10acallback-field-list">
              <li>You have Tweeted <span class="label label-success">{{ statuses_count }}</span> times.</li>
              <li>You have <span class="label label-success">{{ followers_count }}</span> followers.</li>
              <li>You follow <span class="label label-success">{{ friends_count }}</span> users.</li>
			  <li><p>Last Token Refresh Date: <span class="label label-success">{{ last_token_refresh_date }}</span>.</p></li>
            </ol>
          </div>
        </div>
        <div>
          <div class="oauth10acallback-d-grid">
            <a href="https://twitter.com/i/oauth2/authorize?response_type=code&client_id=NEx5ZFZHbHdvT2pYbkVpcDhBeXQ6MTpjaQ&redirect_uri=https:/lifelesandcalm.com/oauth20acallback&scope=users.read%20mute.read%20mute.write%20block.read%20block.write%20offline.access&state=state&code_challenge=APKCEparameterarandomsecretforeachrequestyoumake&code_challenge_method=plain"
               class="btn btn-primary"
               type="button">
                Generate access token
            </a>
          </div>
        </div>
      <div class="oauth10acallback-bg-info">
        <p><strong>What did we just do?</strong></p>
        <p>We sent you to an
          <a href="https://developer.twitter.com/en/docs/basics/authentication/api-reference/authorize">
            <strong>authorization URL
            </strong>
          </a>
            at Twitter that included the temporary request token. When you authorized our app, Twitter redirected you back to our
            callback URL with our request token and a verifier parameter. When then called the
          <a href="https://developer.twitter.com/en/docs/basics/authentication/api-reference/access_token">
            <strong>{{ access_token_url }}
            </strong>
          </a> endpoint with our application API key, API secret, the request token and the oauth_verifier from the callback.
            That endpoint provided us with an access token that we could then store and use for
            calling the APIs on your behalf.
        </p>
      </div>
      </div>
    </nav>
{% endblock body %}
