{% extends "layout.html" %}
{% block title %}OAuth 2.0 PKCE Callback{% endblock title %}
{% block body %}
    <nav class="nav-container">
        <div class="site-header post-container">
            <div class="report-heading">
                <h1>
                    OAuth 2.0 Authorization Flow Callback
                </h1>
                <h6>
                    <i>
                        Thank you for authorizing <strong>Benemortasia.com</strong> to access your Twitter account.
                    </i>
                </h6>
            </div>
            <div class="report-form-container">
                <hr>
                <h5>Authentication Successful!</h5>
                <p>
                    Your Twitter account has been successfully linked with our application. You can now use all the features available.
                </p>
                <div class="d-grid gap-3 col-4 mx-auto auth-button">
                    <a href="{{ url_for('oauth20pkce.oauth20pkcecallback') }}" class="btn btn-primary report-button">
                        Go to Dashboard
                    </a>
                </div>
            </div>
        </div>
    </nav>
{% endblock body %}
