{% extends "layout.html" %}
{% block title %}Privacy Policy{% endblock title %}
{% block body %}
<nav class="nav-container">
	<div class="privacy-policy-container">
		<h2>Our Commitment to Your Privacy</h2>
		<p>At Benemortasia.com, we prioritize your privacy. This policy delineates the manners in which we manage and safeguard the personal information obtained through our website.</p>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Data Collection Practices</h3>
			</div>
			<div class="panel-body">
				<p>We might gather a range of information during your visit to enhance your experience, including:</p>
				<ul>
					<li>Contact details such as name and email address during account registration.</li>
					<li>Feedback and responses you give on surveys or website features.</li>
					<li>Technical data including IP address, browser specifications, and device attributes.</li>
				</ul>
				<p>Our objective is to solely collect information that aids us in offering you a personalized and efficient service. We vow not to disclose or sell your details to third parties without explicit consent, except where mandated by law or specified in this policy.</p>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title navbar-nav mr-auto">Use of Cookies and Similar Technologies</h3>
			</div>
			<div class="panel-body navbar-nav mr-auto">
				<p>We employ cookies and analogous technologies to elevate your browsing experience and scrutinize site traffic patterns. Cookies are minuscule text files placed on your device which facilitate us in recalling your preferences and observing your website interactions.</p>
				<p>You have the option to adjust your cookie preferences via your browser's settings. Nonetheless, disabling cookies might restrict some functionalities and features on our site.</p>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title navbar-nav mr-auto">How We Utilize Your Data</h3>
			</div>
			<div class="panel-body navbar-nav mr-auto">
				<p>We employ the collected data to bolster our services, address your concerns, and keep you informed about updates, promotional offers, and events.</p>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title navbar-nav mr-auto">Get in Touch</h3>
			</div>
			<div class="panel-body navbar-nav mr-auto">
				<p>Should you have queries regarding this policy, please reach out to us at: [insert your contact email here].</p>
			</div>
		</div>
	</div>
    </nav>
{% endblock body %}