<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" type="text/html"/>
    <meta http-equiv="X-UA-Compatible" content="ie=IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="darkreader-lock">
    <meta name="description" content="Explore Benemortasia.com, a tool to manage Twitter Impersonators for our beloved Crypto Channels with ease." />
    <link
        rel="canonical"
        href="https://lifelessandcalm.com/"
    />
    <link
        rel="preload"
        as="font"
        href="{{ url_for('static', filename='Roboto-Regular.woff2') }}"
        type="font/woff2"
        crossorigin="anonymous"
        integrity="sha512-APCPndZIlyyVcVR+BhctVQXdE/V3/i5lpJfThWFygHrBHJlphOQTjS6yrHhCV/5hhkruFXUv6ennb5jbkx4MKg=="
    />
    <link
        rel="preload"
        as="style"
        href="{{ url_for('static', filename='benemortasia.min.css') }}"
        type="text/css"
        crossorigin="anonymous"
        integrity="sha512-AxgNLBV0rWI0dHZQMcrz74JphoO32C/4zrAW+cFSS6C/IUmKzF15q6AAEUu/ypvnPmjrZ7HwiQYI7xsamiA6rQ=="
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='benemortasia.min.css') }}"
        type="text/css"
        crossorigin="anonymous"
        integrity="sha512-AxgNLBV0rWI0dHZQMcrz74JphoO32C/4zrAW+cFSS6C/IUmKzF15q6AAEUu/ypvnPmjrZ7HwiQYI7xsamiA6rQ=="
	/>
    <link
        rel="shortcut icon"
        href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="{{ url_for('static', filename='apple-touch-icon.png') }}"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="{{ url_for('static', filename='favicon-32x32.png') }}"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="194x194"
        href="{{ url_for('static', filename='favicon-194x194.png') }}"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="192x192"
        href="{{ url_for('static', filename='android-chrome-192x192.png') }}"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="{{ url_for('static', filename='favicon-16x16.png') }}"
    />
    <link
        rel="manifest"
        href="{{ url_for('static', filename='site.webmanifest') }}"
    />
    <link
        rel="mask-icon"
        href="{{ url_for('static', filename='safari-pinned-tab.svg') }}"
    />
    <meta 
        name="msapplication-TileColor"
        content="#ffffff"
    />
    <meta
        name="msapplication-TileImage"
        content="{{ url_for('static', filename='mstile-144x144.png') }}"
    />
    <meta
        name="theme-color"
        content="#ffffff"
    />

    {% if title %}
        <title>Benemortasia.com(beta) - {{ title }}</title>
    {% else %}
        <title>Benemortasia.com(beta)</title>
    {% endif %}
</head>

  <body nonce="{{ csp_nonce() }}" class="custom-body">
    <header nonce="{{ csp_nonce() }}" class="header-container">
      <nav class="navbar navbar-expand-md navbar-dark navbar-background fixed-top">
        <div class="container">
          <img nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='banner-icon.png') }}" width="50" height="50" class="d-inline-block align-top" alt="">
            <a nonce="{{ csp_nonce() }}" class="navbar-brand mr-4" href="/">Benemortasia.com
              <small>
                <i>
                  <span nonce="{{ csp_nonce() }}" class="beta-text">(beta)</span>
                </i>
              </small>
            </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            {% if user.is_authenticated %}
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" id="home" href="/unauthhome">Home</a>
              <a class="nav-item nav-link" id="about" href="/unauthabout">About</a>
              <a class="nav-item nav-link" id="privacy" href="/privacy">Privacy Policy</a>
              <a class="nav-item nav-link" id="Report" href="/oauth10areport">Report</a>
            </div>
            <div class="navbar-nav">
              <a class="nav-item nav-link" id="oauth10aIndex" href="/oauth10aindex">OAuth1.0a</a>
              <a class="nav-item nav-link" id="oauth2aIndex" href="/oauth20pkceindex">OAuth2(PKCE)</a>
              <a class="nav-item nav-link" id="logout" href="/authlogout">Logout</a>
            </div>
            {% else %}
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" id="home" href="/">Home</a>
              <a class="nav-item nav-link" id="about" href="/unauthabout">About</a>
              <a class="nav-item nav-link" id="privacy" href="/privacy">Privacy Policy</a>
            </div>
            <div class="navbar-nav">
              <a class="nav-item nav-link" id="signUp" href="/authsignup">Register</a>
              <a class="nav-item nav-link" id="login" href="/authlogin">Login</a>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>

    <br>
    <main role="main" class="container">
      <nav>
        <div class="row text-center">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                {% if category == 'error' %}
                  <div class="alert alert-danger alter-dismissible fade show" role="alert">
                    {{ message }}
                  </div>
                {% else %}
                  <div class="alert alert-success alter-dismissible fade show" role="alert">
                    {{ message }}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

        {% block body %}
        {% endblock body %}

        <footer class="footer">
          <nav class="footer-nav">
            <div class="footer-left">
              <small>This webapp is created and managed by <a href="https://twitter.com/Benemortasia666" class="footnote">Benemortasia666</a>.</small>
            </div>
            <div class="footer-right">
              <small>Fuelled by <a href="https://twitter.com/invest_answers" class="footnote">Invest Answers</a>,
                  <a href="https://twitter.com/NewsAsset" class="footnote">Digital Asset News</a>,
                  <a href="https://twitter.com/StandfieldKen" class="footnote">StandfieldKen</a>,
                  and other Crypto channels community members.
              </small>
            </div>
          </nav>
        </footer>

      </nav>
      <hr>
    </main>

    {% if not cookies_accepted %}
        {% include 'GDPRrrrAAHrRRhHrAaahrrrrr.html' %}
    {% endif %}

    <script
        nonce="{{ csp_nonce() }}"
        type="application/javascript"
        crossorigin="anonymous"
        integrity="sha512-YRU/bXfiBZTE2rCBmrsKZ2vYMLKBCIadHCEJjT2NVoQB23j+58wjoFgBuie6NjxWjzLW62W/iGhBTt1i9LBr0g=="
        src="{{ url_for('static', filename='benemortasia.min.js') }}"
    ></script>

</body>
</html>
