{% extends "layout.html" %}
{% block title %}Privacy Policy{% endblock title %}
{% block body %}
    <nav class="nav-container">
        <div class="privacypolicy-container">
            <h1>Privacy Policy of Our Website</h1>
            <hr>
            <p>We value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard the information you provide when using our website.</p>
            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Information We Collect</h2>
                </div>
                <div class="panel-body">
                    <p>We may collect various types of information from you when you interact with our website. This includes:</p>
                    <ul>
                        <li>Your name, email address, and other contact details when you register for an account.</li>
                        <li>Information you provide when submitting forms, surveys, or participating in interactive features of the website.</li>
                        <li>Your usage data, including IP address, browser type, device information, and browsing activity.</li>
                    </ul>
                    <p>We only collect the information necessary to provide you with the services you request and to improve our website's performance and user experience. We do not sell or share your personal information with third parties without your consent, except as required by law or outlined in this Privacy Policy.</p>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Cookies and Similar Technologies</h2>
                </div>
                <div class="panel-body">
                    <p>We use cookies and similar technologies to enhance your browsing experience and to analyze website traffic. Cookies are small text files stored on your device that help us remember your preferences and track how you use our website. By using our website, you consent to the use of cookies and similar technologies.</p>
                    <p>You can manage your cookie preferences through your web browser settings. However, please note that disabling cookies may limit certain features and functionalities of our website.</p>
                </div>
            </div>
        </div>
    </nav>
{% endblock body %}
