{% extends "layout.html" %}
{% block title %}About{% endblock title %}
{% block body %}
    <nav class="nav-container">
        <div nonce="{{ csp_nonce() }}" class="about-style">
            <h1 class="navbar-nav mr-auto">
                What is Benemortasia.com ?
            </h1>
            <br>
            <hr>
            <h5>
            <p>This is the public facing about page for Benemortasia.com, which will not contain the full about context.</p>
            </h5>
            <br>
            <div nonce="{{ csp_nonce() }}">
                <img
                        nonce="{{ csp_nonce() }}"
                        src="{{ url_for('static', filename='logo2.bmp') }}"
                        width="600" height="600" alt="Logo"
                        class="navbar-nav mr-auto site-header about-site-foto"
                />
            </div>
        </div>
    </nav>
{% endblock body %}
